<xml version="1.0"?>

<configuration>

<filepath>C:\send an email with used space and count of files</filepath>
<drivename>C,E</drivename>
  <EMailFrom>goutham.baddam@dxc.com</MailFrom>
  <EMailTo>goutham.baddam@dxc.com</MailTo>
 <smtpServer>smpt3.hp.com</smtpserver>
 <smtpPort>25</smtpPort>

</configuration>



